@import models.EventType.*
@import config.AppConfig

@this(
    govukSummaryList: GovukSummaryList
)(
  implicit val appConfig: AppConfig
)

@(dbId: Int, events: Events, title: String = "Events")(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@eventDetailRow(event: EventDetail) = {
    @event.formatDate() @for(place <- event.place) {
        at @place.oneLiner()
    }
}

@source(event: EventDetail) = @{
    if(event.sourCount>0){"View (Source)"} else {"View"}
}

@addEventLink = @{
    events.ownerId.fold("") { ownerId =>
        events.ownerType match {
            case _: IndividualEvent.type => { controllers.add.routes.AddIndividualEventDetailController.showForm(dbId, ownerId).url }
            case _ => { controllers.add.routes.AddFamilyEventDetailController.showForm(dbId, ownerId).url }
        }
    }
}

@govukSummaryList(
    SummaryList(
        rows = events.eventsDetails.sortBy(_.jd_count).map { event =>
            SummaryListRow(
                key = Key(Text(event.tag.fold("Unknown")(tag => messages(tag)))),
                value = Value(HtmlContent(eventDetailRow(event))),
                classes = "govuk-summary-list__row--no-border",
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = controllers.routes.EventController.showEvent(dbId, event.events_details_id).url,
                            content = Text(source(event))
                        ),
                        ActionItem(
                            href = controllers.delete.routes.DeleteEventController.deleteEventConfirmation(dbId, event.events_details_id).url,
                            content = Text("Delete")
                        )
                    )
                ))
            )
        },
        card = Some(Card(
            title = Some(CardTitle(content = Text(title))),
            actions = events.ownerId.map { _ =>
                Actions(
                items = Seq(
                    ActionItem(
                        href = addEventLink,
                        content = Text("Add")
                    )
                )
            )},
            classes = "govuk-!-margin-4"
          )),
        classes = ""
    )
)