@import models.EventType.*
@this(
    block: Block, 
    lastModified: LastModified,
    govukSummaryList: GovukSummaryList
)

@(events: Events)(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@eventDetailRow(event: EventDetail) = {
    @event.formatDate @for(place <- event.place) {
        at @place.oneLiner()
    }
}

@source(event: EventDetail) = @{
    if(event.sourCount>0){"View (Source)"} else {"View"}
}

@addEventLink = @{
    events.ownerId.fold("") { ownerId =>
        if(events.ownerType == IndividualEvent) {
            controllers.add.routes.AddIndividualEventDetailController.showForm(ownerId).url
        } else {
            controllers.add.routes.AddFamilyEventDetailController.showForm(ownerId).url
        }
    }
}

@govukSummaryList(
    SummaryList(
        rows = events.eventsDetails.sortBy(_.jd_count).map { event =>
            SummaryListRow(
                key = Key(Text(messages(event.tag.get))),
                value = Value(HtmlContent(eventDetailRow(event))),
                classes = "govuk-summary-list__row--no-border",
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = controllers.routes.EventController.showEvent(event.events_details_id).url,
                            content = Text(source(event))
                        )
                    )
                ))
            )
        },
        card = Some(Card(
            title = Some(CardTitle(content = Text("Events"))),
            actions = events.ownerId.map { ownerId => 
                Actions(
                items = Seq(
                    ActionItem(
                        href = addEventLink,
                        content = Text("Add")
                    )
                )
            )},
            classes = "govuk-!-margin-4",
            attributes = Map.empty
          )),
        classes = "",
        attributes = Map.empty
    )
)