@import models.Family
@import controllers.routes
@import views.html.components.{IndividualEvents, NameLink}

@this(
    nameLink: NameLink, 
    individualEvents: IndividualEvents,
    lastModified: LastModified,
    block: Block,
    govukSummaryList: GovukSummaryList)

@(family: Family, partnerOption: Option[Person])(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@title = {
    Family 
    @family.parent1.map(_.details.surname).getOrElse("Unknown") —
    @family.parent2.map(_.details.surname).getOrElse("Unknown")
}

@nameWithDate(person: Person) = {
    @person.details.shortName @person.events.birthAndDeathDate
}

@block(title.toString, None) {

@for(partner <- partnerOption) {
    @govukSummaryList(
        SummaryList(
            rows = Seq(
                SummaryListRow(
                    key = Key(Text(partner.details.shortName)),
                    value = Value(HtmlContent(partner.events.birthAndDeathDate)),
                    classes = "govuk-summary-list__row--no-border",
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = controllers.routes.IndividualController.showPerson(partner.details.id).url,
                                content = Text("Details")
                            )
                        )
                    ))
                )
            ),
            card = Some(Card(
                title = Some(CardTitle(content = Text("Partner"))),
                actions = None,
                classes = "govuk-!-margin-4",
                attributes = Map.empty
            )),
            classes = "",
            attributes = Map.empty
        )
    )
}

@individualEvents(family.events.eventsDetails)

@govukSummaryList(
    SummaryList(
        rows =  family.children.map { child =>
            SummaryListRow(
                key = Key(Text(child.person.details.shortName)),
                value = Value(HtmlContent(child.person.events.birthAndDeathDate)),
                classes = "govuk-summary-list__row--no-border",
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = controllers.routes.IndividualController.showPerson(child.person.details.id).url,
                            content = Text("Details")
                        )
                    )
                ))
            )
        },
        card = Some(Card(
            title = Some(CardTitle(content = Text("Children"))),
            actions = Some(Actions(
                items = Seq(
                    ActionItem(
                        href = controllers.edit.routes.EditPersonDetailsController.showForm(1).url,
                        content = Text("Add")
                    )
                )
            )),
            classes = "govuk-!-margin-4",
            attributes = Map.empty
        )),
        classes = "",
        attributes = Map.empty
    )
)

}
