@import models.Family
@import controllers.routes
@import views.html.components.EventsDetails
@import utils.PersonSummaryListRow

@this(
    familyEvents: EventsDetails,
    block: Block,
    personSummaryListRow: PersonSummaryListRow,
    govukSummaryList: GovukSummaryList)

@(dbId: Int, family: Family, partnerOption: Option[Person])(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@title = {
    Family 
    @family.parent1.map(_.details.surname).getOrElse("Unknown") —
    @family.parent2.map(_.details.surname).getOrElse("Unknown")
}

@block(title.toString, 
Some(Actions(
    items = Seq(ActionItem(
            href = "#",
            content = Text("Delete")
        ))
))) {

@for(partner <- partnerOption) {
    @govukSummaryList(
        SummaryList(
            rows = Seq(
              personSummaryListRow.personSummaryListRow(dbId, partner, "wertyu")
            ),
            card = Some(Card(
                title = Some(CardTitle(content = Text("Partner"))),
                actions = None,
                classes = "govuk-!-margin-4",
                attributes = Map.empty
            )),
            classes = "",
            attributes = Map.empty
        )
    )
}

@if(partnerOption.isEmpty && (family.parent1.nonEmpty || family.parent2.nonEmpty)) {
  @govukSummaryList(
    SummaryList(
      rows = Seq(
        family.parent1.map( partner => personSummaryListRow.personSummaryListRow(
            dbId,
            partner,
            controllers.unlink.routes.UnlinkChildController.unlinkChildConfirmation(dbId, partner.details.id, family.id).url)
        ),
        family.parent2.map( partner => personSummaryListRow.personSummaryListRow(
            dbId,
            partner,
            controllers.unlink.routes.UnlinkChildController.unlinkChildConfirmation(dbId, partner.details.id, family.id).url)
        )
      ).flatten,
      card = Some(Card(
        title = Some(CardTitle(content = Text("Partners"))),
        actions = None,
        classes = "govuk-!-margin-4",
        attributes = Map.empty
      )),
      classes = "",
      attributes = Map.empty
    )
  )
}


@familyEvents(dbId, family.events)

@govukSummaryList(
    SummaryList(
        rows =  family.children.map(child => personSummaryListRow.personSummaryListRow(
            dbId,
            child.person,
            controllers.unlink.routes.UnlinkChildController.unlinkChildConfirmation(dbId, child.person.details.id, family.id).url
        )),
        card = Some(Card(
            title = Some(CardTitle(content = Text("Children"))),
            actions = Some(Actions(
                items = Seq(
                    ActionItem(
                        href = "#",
                        content = Text("Add")
                    )
                )
            )),
            classes = "govuk-!-margin-4",
            attributes = Map.empty
        )),
        classes = "",
        attributes = Map.empty
    )
)

}
