@import models.Family
@import controllers.routes
@import views.html.components.EventsDetails
@import utils.PersonSummaryListRow

@this(
    familyEvents: EventsDetails,
    personSummaryListRow: PersonSummaryListRow,
    govukSummaryList: GovukSummaryList)

@(dbId: Int, family: Family, excludeOption: Option[Person])(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@actionFamily = @{
    if(family.parent1.isEmpty || family.parent2.isEmpty) {
        Some(Actions(
            items = Seq(
                ActionItem(
                    href = controllers.add.routes.AddPersonAsPartnerController.startAddIndividualToFamily(dbId, family.id).url,
                    content = Text("Add")
                ),
            )
        ))
    } else {
        None
    }
}

  @govukSummaryList(
    SummaryList(
      rows = Seq(
          family.parent1
          .filterNot(partner => excludeOption.exists(_.details.id == partner.details.id))
          .map(partner => personSummaryListRow.personSummaryListRow(
              dbId,
              partner,
              controllers.unlink.routes.UnlinkPartnerController.unlinkPartnerConfirmation(dbId, partner.details.id, family.id).url
          )),
          family.parent2
          .filterNot(partner => excludeOption.exists(_.details.id == partner.details.id))
          .map(partner => personSummaryListRow.personSummaryListRow(
              dbId,
              partner,
              controllers.unlink.routes.UnlinkPartnerController.unlinkPartnerConfirmation(dbId, partner.details.id, family.id).url
          ))
      ).flatten,
      card = Some(Card(
        title = Some(CardTitle(content = Text("Partner"))),
        actions = actionFamily,
        classes = "govuk-!-margin-4",
        attributes = Map.empty
      )),
      classes = "",
      attributes = Map.empty
    )
  )

@familyEvents(dbId, family.events)

@govukSummaryList(
    SummaryList(
        rows =  family.children.map(child => personSummaryListRow.personSummaryListRow(
            dbId,
            child.person,
            controllers.unlink.routes.UnlinkChildController.unlinkChildConfirmation(dbId, child.person.details.id, family.id).url
        )),
        card = Some(Card(
            title = Some(CardTitle(content = Text("Children"))),
            actions = Some(Actions(
                items = Seq(
                    ActionItem(
                        href = controllers.link.routes.LinkChildToFamilyController.showForm(dbId, family.id).url,
                        content = Text("Add")
                    ),
                )
            )),
            classes = "govuk-!-margin-4",
            attributes = Map.empty
        )),
        classes = "",
        attributes = Map.empty
    )
)

