@this(
    block: Block, 
    lastModified: LastModified,
    govukSummaryList: GovukSummaryList
)

@(events: List[EventDetail])(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@eventDetailRow(event: EventDetail) = {
    @event.formatDate @for(place <- event.place) {
        at @place.oneLiner()
    }
    <span style="color: blue; font-size: x-small;">@if(event.sourCount>0){-S-}</span>
}

@govukSummaryList(
    SummaryList(
        rows = events.map { event =>
            SummaryListRow(
                key = Key(Text(messages(event.tag.get))),
                value = Value(HtmlContent(eventDetailRow(event))),
                classes = "govuk-summary-list__row--no-border",
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = controllers.routes.EventController.showEvent(event.events_details_id).url,
                            content = Text("Details")
                        )
                    )
                ))
            )
        },
        card = Some(Card(
            title = Some(CardTitle(content = Text("Events"))),
            actions = None,
            classes = "govuk-!-margin-4",
            attributes = Map.empty
          )),
        classes = "",
        attributes = Map.empty
    )
)