@import models.{Media => ModelMedia}
@import views.html.components.LastModified

@this(
  lastModified: LastModified, 
  block: Block,
  govukSummaryList: GovukSummaryList)

@(media: ModelMedia)(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@displayMedia(filename: String) = @{
  s"""<div style="width:90%;margin-left:auto;margin-right:auto;padding:1em;"><img src="${routes.Assets.versioned(s"Medias/Parois/$filename")}" /></div>"""
}

@block(
  title = "Medias", 
  actions = Some(Actions(
    items = Seq(
        ActionItem(
            href = "#",
            content = Text("Add")
        )
    )
  ))
) {
  <h3 class="govuk-!-padding-2">@media.title</h3>
  <div style="width:90%;margin-left:auto;margin-right:auto;padding:1em;"><img style="width:100% " src="@routes.Assets.versioned(s"Medias/Parois/${media.filename}")" /></div>
}
