@import models.{Media => ModelMedia}

@this(
  block: Block,
)

@(medias: List[ModelMedia])(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

  @block(
    title = "Medias", 
    actions = Some(Actions(
      items = Seq(
          ActionItem(
              href = controllers.link.routes.LinkSourCitationToMediaController.showForm(1, 1).url,
              content = Text("Link")
          )
      )
    ))
  ) {

      @for(media <- medias) {
        @block(
        title = media.title, 
        actions = Some(Actions(
          items = Seq(
              ActionItem(
                  href = "delete",
                  content = Text("Delete")
              )
          )
        ))
      ) {
        <div style="width:100%;margin-left:auto;margin-right:auto;padding:0em;"><img style="width:100% " src="@controllers.routes.MediaController.serveMedia(media.filename)" /></div>
      }
    }
  }
