@import models.{SourCitation => ModelSourCitation}
@import views.html.components.{Medias, Block, SourRecord}
@import models.SourCitationType.SourCitationType

@this(
  mediasComponent: Medias, 
  sourRecord: SourRecord,
  govukSummaryList: GovukSummaryList)

@(dbId: Int, source: ModelSourCitation)(implicit request: AuthenticatedRequest[?], messages: Messages)

  @govukSummaryList(
    SummaryList(
        rows = Seq(
          SummaryListRow(
              key = Key(Text("Id")),
              value = Value(Text(source.id.toString)),
              classes = "govuk-summary-list__row--no-border",
              actions = None
          ),
          SummaryListRow(
              key = Key(Text("Date")),
              value = Value(Text(source.dates)),
              classes = "govuk-summary-list__row--no-border",
              actions = None
          ),
          SummaryListRow(
                key = Key(Text("Role")),
                value = Value(Text(source.role)),
                classes = "govuk-summary-list__row--no-border",
                actions = None
            ),
            SummaryListRow(
              key = Key(Text("Submitter")),
              value = Value(Text(source.subm)),
              classes = "govuk-summary-list__row--no-border",
              actions = None
            ),
            SummaryListRow(
              key = Key(Text("Text")),
              value = Value(Text(source.text)),
              classes = "govuk-summary-list__row--no-border",
              actions = None
            ),
            SummaryListRow(
              key = Key(Text("Page")),
              value = Value(Text(source.page)),
              classes = "govuk-summary-list__row--no-border",
              actions = None
            ), 
            SummaryListRow(
              key = Key(Text("Quay")),
              value = Value(Text(source.quay.fold("Unknown")(_.toString))),
              classes = "govuk-summary-list__row--no-border",
              actions = None
            )
        ),
        card = Some(Card(
            title = Some(CardTitle(content = Text("Source citation"))),
            actions = Some(Actions(
              items = Seq(
                  ActionItem(
                      href = controllers.edit.routes.EditSourCitationController.showForm(dbId, source.id).url,
                      content = Text("Edit")
                  )
              )
          )),
            classes = "govuk-!-margin-4",
            attributes = Map.empty
        )),
        classes = "",
        attributes = Map.empty
    )
  )

  @for(record <- source.record) {
    @sourRecord(dbId, record, source.sourceType, source.id) 
  }

  @mediasComponent(dbId, source.id, source.medias)

