@import controllers.routes
@import views.html.components.NameLink

@this(nameLink: NameLink)

@(person: Person)(implicit messages: Messages)

<div class="box">
    @for(parents <- person.parents) {
    <div class="box_title">
        <h3>Parents @parents.relaType</h3>
    </div>

    <ul style="list-style-type:none;padding:0;">
        @for(parent <- parents.family.parent1) {
          <li>@nameLink(parent)</li>
        }
        @for(parent <- parents.family.parent2) {
            <li>@nameLink(parent)</li>
        }
    </ul>
    }
</div>