@import controllers.routes
@import views.html.components.{LastModified, Block}

@this(
    lastModified: LastModified, 
    block: Block,
    govukSummaryList: GovukSummaryList)

@(person: Person)(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@parentTitle(rela: String) = {
    Parents @rela
}

@for(parents <- person.parents) {
    @govukSummaryList(
        SummaryList(
            rows = Seq(
                parents.family.parent1.map { parent =>
                    SummaryListRow(
                        key = Key(Text(parent.details.shortName)),
                        value = Value(HtmlContent(parent.events.birthAndDeathDate)),
                        classes = "govuk-summary-list__row--no-border",
                        actions = Some(Actions(
                            items = Seq(
                                ActionItem(
                                    href = controllers.routes.IndividualController.showPerson(parent.details.id).url,
                                    content = Text("View")
                                )
                            )
                        ))
                    )
                },
                parents.family.parent2.map { parent =>
                    SummaryListRow(
                        key = Key(Text(parent.details.shortName)),
                        value = Value(HtmlContent(parent.events.birthAndDeathDate)),
                        classes = "govuk-summary-list__row--no-border",
                        actions = Some(Actions(
                            items = Seq(
                                ActionItem(
                                    href = controllers.routes.IndividualController.showPerson(parent.details.id).url,
                                    content = Text("View")
                                )
                            )
                        ))
                    )
                }
            ).flatten,
            card = Some(Card(
                title = Some(CardTitle(content = Text(parentTitle(parents.relaType).toString))),
                actions = None,
                classes = "govuk-!-margin-4",
                attributes = Map.empty
            )),
            classes = "",
            attributes = Map.empty
        )
    )
}