@this(lastModified: LastModified, block: Block, govukSummaryList: GovukSummaryList)

@(dbId: Int, person: Person)(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

    @lastModified(person.details.timestamp)

    @govukSummaryList(
        SummaryList(
            rows = Seq(
                SummaryListRow(
                    key = Key(Text(messages("id"))),
                    value = Value(Text(person.details.id.toString)),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text(messages("surname"))),
                    value = Value(Text(person.details.surname)),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text(messages("firstname"))),
                    value = Value(Text(person.details.firstname)),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text(messages("sex"))),
                    value = Value(Text(messages(person.details.sex.toString))),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text("Firstname prefix")),
                    value = Value(Text(messages(person.details.firstnamePrefix))),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text("Given name")),
                    value = Value(Text(messages(person.details.nameGiven))),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text("Nickname")),
                    value = Value(Text(messages(person.details.nameNickname))),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text("Surname prefix")),
                    value = Value(Text(messages(person.details.surnamePrefix))),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text("Name suffix")),
                    value = Value(Text(messages(person.details.nameSuffix))),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
                SummaryListRow(
                    key = Key(Text(messages("resn"))),
                    value = Value(Text(person.details.privacyRestriction.getOrElse("None (public)"))),
                    classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                    actions = None
                ),
            ).filter(_.value.content != Text("")),
            card = Some(Card(
                title = Some(CardTitle(content = Text("Person details"))),
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = controllers.edit.routes.EditPersonDetailsController.showForm(dbId, person.details.id).url,
                            content = Text("Edit")
                        ),
                        ActionItem(
                            href = controllers.delete.routes.DeleteIndividualController.deletePersonConfirmation(dbId, person.details.id).url,
                            content = Text("Delete")
                        )
                    )
                )),
                classes = "govuk-!-margin-4",
                attributes = Map.empty
              )),
            classes = "",
            attributes = Map.empty
        )
    )
