@import models.Person

@this()

@(person: Person)(implicit messages: Messages)

<div class="box">
    <div class="box_title">
        <h3>État civil</h3>
    </div>

    <span class="petit">Dernière modification&nbsp;: @person.details.timestamp</span><br />
    <dl class="etat_civil">
        <dt>@messages("id")</dt><dd>@person.details.id</dd>
        <dt>@messages("surname")</dt><dd>@person.details.surname</dd>
        <dt>@messages("firstname")</dt><dd>@person.details.firstname</dd>
        <dt>@messages("sex") </dt><dd>@messages(person.details.sex.toString)</dd>
        <dt>@messages("resn")</dt><dd>@person.details.privacyRestriction.getOrElse("Unknown") </dd>
    </dl>
</div>