@import models.{SourCitation => ModelSourCitation}
@import views.html.components.{Medias, Block, SourRecord}
@import models.SourCitationType.SourCitationType
@import views.html.components.OneSourCitation

@this(
  block: Block,
  oneSourCitation: OneSourCitation
)

@(dbId: Int, sources: List[ModelSourCitation], ownerId: Int, ownerType: SourCitationType)(implicit request: AuthenticatedRequest[?], messages: Messages)

@block("Sources", Some(Actions(
  items = Seq(
      ActionItem(
          href = controllers.add.routes.AddSourCitationController.showForm(dbId, ownerId, ownerType).url,
          content = Text("Add")
      )
  )
))) {
    @for(source <- sources) {
        @oneSourCitation(dbId, source)
    }
}
