services:
  genealogy:
    platform: linux/amd64
    image: pascal22p/genealogy:latest-snapshot
    container_name: genealogy
    restart: unless-stopped
    environment:
      APP_SECRET: ${APP_SECRET}
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      PYROSCOPE_AGENT_ENABLED: false
      PYROSCOPE_APPLICATION_NAME: ${PYROSCOPE_NAME}
      PYROSCOPE_SERVER_ADDRESS: ${PYROSCOPE_SERVER_ADDRESS}
      PYROSCOPE_BASIC_AUTH_USER: ${PYROSCOPE_BASIC_AUTH_USER}
      PYROSCOPE_BASIC_AUTH_PASSWORD: ${PYROSCOPE_BASIC_AUTH_PASSWORD}
      MEDIA_PATH: /tmp/Medias/
      UPLOAD_PATH: /tmp/Upload/
      EXTERNAL_ASSETS_PATH: /tmp/external-assets
      PLAY_FILTERS_HOSTS: genealogy.example.com
      PROTOCOL: https://
    ports:
      - "127.0.0.1:9123:9123"
    volumes:
      - ./Medias/:/tmp/Medias/
      - ./Upload/:/tmp/Upload
      - ./Assets/:/tmp/external-assets
    logging:
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

