@import models.SessionData
@import models.MediaType.MediaType
@import models.MediaType.{EventMedia, IndividualMedia, FamilyMedia, SourCitationMedia}
@import views.html.components.LastModified

@this(
        main: Main,
        lastModified: LastModified,
        govukSummaryList: GovukSummaryList,
        formWithCSRF: FormWithCSRF,
        govukButton: GovukButton
)

@(dbId: Int, media: Media)(implicit request: AuthenticatedRequest[?], messages: Messages)

@keyContent(media: Media): String = @{
  if(media.title.isEmpty) {
    media.filename
  } else {
    media.title
  }
}

@main(1) {

@govukSummaryList(
  SummaryList(
    rows = Seq(SummaryListRow(
        key = Key(HtmlContent(keyContent(media))),
        value = Value(HtmlContent(s"""${lastModified(media.timestamp)}<br /><img src="${routes.MediaController.serveMedia(dbId, media.filename)}" style="width:90%;"/>""")),
        classes = "",
        actions = None
    )),
    card = Some(Card(
      title = Some(CardTitle(content = Text("Media to be deleted"))),
      actions = None,
      classes = "",
      attributes = Map.empty
    ))
  )
)


  @formWithCSRF(controllers.delete.routes.DeleteMediaController.deleteMediaAction(dbId, media.id)) {
    @govukButton(Button(
      inputType = Some("submit"),
      content = Text("Delete this media"),
      classes = "govuk-button--warning"
    ))
  }
}