
@this(
  main: Main,
  govukButton: GovukButton,
  govukSummaryList: GovukSummaryList,
  formWithCSRF: FormWithCSRF
)

@(database: GenealogyDatabase)(implicit request: AuthenticatedRequest[?], messages: Messages)


@main(1, None) {

  @govukSummaryList(
    SummaryList(
        rows = Seq(
            SummaryListRow(
                key = Key(Text(messages("id"))),
                value = Value(Text(database.name)),
                classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                actions = None
            ),
            SummaryListRow(
                key = Key(Text("Description")),
                value = Value(Text(database.description)),
                classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
                actions = None
            )
        ),
        card = Some(Card(
            title = Some(CardTitle(content = Text("Database to be deleted"))),
            actions = None,
            classes = "govuk-!-margin-4",
            attributes = Map.empty
          )),
        classes = "",
        attributes = Map.empty
    )
  )

  @formWithCSRF(controllers.delete.routes.DeleteDatabaseController.deleteDatabaseAction(database.id)) {
    @govukButton(Button(
      inputType = Some("submit"),
      content = Text("Delete this database"),
      classes = "govuk-button--warning"
    ))
  }
  
}
