/* layout global */
/* colour from http://www.colourlovers.com/palette/163356/Genealogy */

html
{
	background: #6E6B40;
	color:black;
}

.govuk-link {
  color: #01427b !important;
}

/* liens */
a:link
{
  color:#013d72;
  padding:1px;
  border:none;
  color:inherit;
  text-decoration:none;

}
a:visited
{
  padding:1px;
  color : black;
  text-decoration:none;

}
a:hover
{
  color : red;
  text-decoration:underline;
  border: none;
}


/* style pous le menu */

li.ssmenu, li.ssmenu a
{
	display:block;
	font-size:85%;
	margin:0;
	padding:2px;
	border:0;
	background-color:#e3d2af;
	text-indent:0;
	font-style:normal;
	line-height:100%;
}



ul.ssmenu {
	margin:0px;
	padding:0px;
	border-top:2px groove #65381B;
	list-style-type:none;
	background-color:transparent;
	font-weight:normal;
	text-align:left;
}

li.menu {
	display:block;
	list-style-type:none;
	padding:0;
	text-align:center;

	background-color:#F1EBDF;
	color:#6A3D21;
	font-weight:bold;
	font-size:130%;
	border:1px solid #65381B;
}

/* hovers with specificity */
li.ssmenu:hover, li.ssmenu:hover a
{
	background-color: #B9CAFF;
	text-decoration:none;
	color:black;
}


ul.menu ul.ssmenu
{
	display:block;
}

li.menu:hover ul.ssmenu
{
	display:block;
	margin-bottom:0;
}

/* fin style menu */


/* boxes */

/* box title */
DIV.box_title
{
	border:none;
	border-bottom:2px groove #65381B;
	background-color:#F1EBDF;
	color:#65381B;
}

/* box */
.box
{
    background-color:#e6d6b7;
}

/* fin boxes */


/* fin style pour fiche individuelle */

/* affichage de la date entre-parenth�e*/
span.petit
{
    font-size: 90%;
    font-style : italic;
	margin-left:0.5em;
	color:inherit;
}



.link-button {
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
  
  .link-button:hover {
	background-color: #65381B;
	color: white;
  }
