@import models.forms.EventDetailForm
@import views.html.helper
@import views.html.components.Block
@import helper._
@import utils.Constants
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*
@import models.EventType.EventType
@import models.EventType.IndividualEvent

@this(
        main: Main,
        block: Block,
        govukInput: GovukInput,
        govukSelect: GovukSelect,
        govukButton: GovukButton,
        govukErrorSummary: GovukErrorSummary
)

@(dbId: Int, eventDetailForm: Form[EventDetailForm], ownerId: Int, allPlaces: List[Place], eventType: EventType)(implicit request: AuthenticatedRequest[?], messages: Messages)

@postLink = @{
    eventType match {
        case _: IndividualEvent.type => {
            controllers.add.routes.AddIndividualEventDetailController.onSubmit(dbId, ownerId)
        }
        case _ => { controllers.add.routes.AddFamilyEventDetailController.onSubmit(dbId, ownerId) }
    }
}

@main(1) {


  @block(messages("add.event.title")) {

    @if(eventDetailForm.hasGlobalErrors) {
        @for(error <- eventDetailForm.globalErrors) {
            <span class="error-message">@error.format(messages)</span>
        }
    }

    @if(eventDetailForm.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummary().withFormErrorsAsHtml(eventDetailForm))
    }
    
    @helper.form(action = postLink ) {
        @helper.CSRF.formField
        <input type="hidden" name="personId" value="@ownerId" />
        @govukInput(
            Input(
                label = Label(content = Text(messages("Database"))),
                hint = Some(Hint(
                    content = HtmlContent(messages("add.event.which.database"))
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("base"))
        )
        @govukSelect(
            Select(
                items =
                    Seq(SelectItem(value = Some(""), text = messages("Unknown"))) ++ allPlaces.map(p => SelectItem(value = Some(p.id.toString), text = p.oneLinerString)).sortBy(_.text),
                label = Label(
                    content = Text(messages("Location"))),
                hint = Some(Hint(
                    content = HtmlContent(messages("add.event.location.description"))
                ))    
            ).withFormField(eventDetailForm("place"))
        )
        @govukInput(
            Input(
                label = Label(content = Text(messages("Address"))),
                hint = Some(Hint(
                    content = HtmlContent(messages("add.event.address.description"))
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("addr_id"))
        )
        @govukSelect(
            Select(
                items = eventType match {
                    case _: IndividualEvent.type => {
                        Seq(SelectItem(value = None, text = messages("Unknown"))) ++ Constants.individualsEvents.map(e => SelectItem(value = Some(e), text = messages(e))).sortBy(_.text)
                    }
                    case _ => { Seq(SelectItem(value = None, text = messages("Unknown"))) ++ Constants.familyEvents.map(e => SelectItem(value = Some(e), text = messages(e))).sortBy(_.text) }
                  },
                label = Label(
                    content = Text(messages("add.event.type.description"))),
                hint = None
            ).withFormField(eventDetailForm("events_tag"))
        )        
        @govukInput(
            Input(
                label = Label(content = Text(messages("add.event.descriptor.description"))),
                hint = Some(Hint(
                    content = HtmlContent("Text describing a particular event pertaining to the individual or family.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_descriptor"))
        )
        @govukInput(
            Input(
                label = Label(content = Text(messages("add.event.date.description"))),
                hint = Some(Hint(
                    content = HtmlContent(messages("add.event.date.hint"))
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_gedcom_date"))
        )
        @govukInput(
            Input(
                label = Label(content = Text(messages("Age"))),
                hint = Some(Hint(
                    content = HtmlContent(messages("add.event.age.description"))
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_age"))
        )
        @govukInput(
            Input(
                label = Label(content = Text(messages("Cause"))),
                hint = Some(Hint(
                    content = HtmlContent(messages("add.event.cause.description"))
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_cause"))
        )
        @govukButton(
            Button(
                element = Some("button"),
                content = Text(messages("Submit"))
            )
        )
    }

  }

}