@import config.AppConfig
@import models.forms.LinkForm
@import models.{PersonDetails, Family}
@import views.html.helper
@import views.html.components.Block
@import helper._
@import utils.Constants
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*

@this(
main: Main,
block: Block,
govukSelect: GovukSelect,
govukButton: GovukButton,
govukErrorSummary: GovukErrorSummary
)(implicit appConfig: AppConfig)

@(dbId: Int, allFamilies: List[Family], person: Person, familyForm: Form[LinkForm])(implicit request: AuthenticatedRequest[?], messages: Messages)

@familyItem(family: Family): String = @{
    val partner1 = family.parent1.fold("") { person =>
        s"${person.details.shortName} (${person.events.birthAndDeathDate()})"
    }
    val partner2 = family.parent2.fold("") { person =>
        s"${person.details.shortName} (${person.events.birthAndDeathDate()})"
    }
    val children = s" (${family.children.size} children)"

    partner1 + partner2 + children
}

@main(dbId, None) {


@block(messages("add.existing.family.title", person.details.shortName)) {

    @if(familyForm.hasGlobalErrors) {
        @for(error <- familyForm.globalErrors) {
            <span class="error-message">@error.format(messages)</span>
        }
    }

    @if(familyForm.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummary().withFormErrorsAsHtml(familyForm))
    }

    @helper.form(action = controllers.add.routes.AddPersonToFamily.submitExistingFamilyForm(dbId, person.details.id) ) {
        @helper.CSRF.formField
        @govukSelect(
            Select(
                items =
                    allFamilies.map(family => SelectItem(
                        value = Some(family.id.toString),
                        text = familyItem(family)
                    )).sortBy(_.text),
                    label = Label(content = Text(messages("Partner"))
            ),
            hint = None
            ).withFormField(familyForm("linkId"))
        )

        @govukButton(
            Button(
                element = Some("button"),
                content = Text(messages("add.existing.family.button"))
            )
        )

    }
}
}