@import models.forms.EventDetailForm
@import views.html.helper
@import views.html.components.Block
@import helper._
@import utils.Constants
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*
@import models.EventType.EventType
@import models.EventType.IndividualEvent

@this(
        main: Main,
        block: Block,
        govukInput: GovukInput,
        govukSelect: GovukSelect,
        govukButton: GovukButton,
        govukErrorSummary: GovukErrorSummary
)

@(dbId: Int, eventDetailForm: Form[EventDetailForm], ownerId: Int, allPlaces: List[Place], eventType: EventType)(implicit request: AuthenticatedRequest[?], messages: Messages)

@postLink = @{
    eventType match {
        case _: IndividualEvent.type => {
            controllers.add.routes.AddIndividualEventDetailController.onSubmit(dbId, ownerId)
        }
        case _ => { controllers.add.routes.AddFamilyEventDetailController.onSubmit(dbId, ownerId) }
    }
}

@main(1, None) {


  @block("Add a new event") {

    @if(eventDetailForm.hasGlobalErrors) {
        @for(error <- eventDetailForm.globalErrors) {
            <span class="error-message">@error.format(messages)</span>
        }
    }

    @if(eventDetailForm.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummary().withFormErrorsAsHtml(eventDetailForm))
    }
    
    @helper.form(action = postLink ) {
        @helper.CSRF.formField
        <input type="hidden" name="personId" value="@ownerId" />
        @govukInput(
            Input(
                label = Label(content = Text("Database")),
                hint = Some(Hint(
                    content = HtmlContent("The database where the event is stored")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("base"))
        )
        @govukSelect(
            Select(
                items =
                    Seq(SelectItem(value = Some(""), text = "Unknown")) ++ allPlaces.map(p => SelectItem(value = Some(p.id.toString), text = p.oneLinerString)).sortBy(_.text),
                label = Label(
                    content = Text("Location")),
                hint = Some(Hint(
                    content = HtmlContent("Location where the event happened")
                ))    
            ).withFormField(eventDetailForm("place"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Address")),
                hint = Some(Hint(
                    content = HtmlContent("id of an address. Use Location instead if possible")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("addr_id"))
        )
        @govukSelect(
            Select(
                items = eventType match {
                    case _: IndividualEvent.type => {
                        Seq(SelectItem(value = None, text = "Unknown")) ++ Constants.individualsEvents.map(e => SelectItem(value = Some(e), text = messages(e))).sortBy(_.text)
                    }
                    case _ => { Seq(SelectItem(value = None, text = "Unknown")) ++ Constants.familyEvents.map(e => SelectItem(value = Some(e), text = messages(e))).sortBy(_.text) }
                  },
                label = Label(
                    content = Text("Type of event")),
                hint = None
            ).withFormField(eventDetailForm("events_tag"))
        )        
        @govukInput(
            Input(
                label = Label(content = Text("Event detail descriptor")),
                hint = Some(Hint(
                    content = HtmlContent("Text describing a particular event pertaining to the individual or family.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_descriptor"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Date of the event")),
                hint = Some(Hint(
                    content = HtmlContent("Date of the event in the format Gedcom.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_gedcom_date"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Age")),
                hint = Some(Hint(
                    content = HtmlContent("Age of the individual on the day of the event.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_age"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Cause")),
                hint = Some(Hint(
                    content = HtmlContent("Used in special cases to record the reasons which precipitated an event.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(eventDetailForm("events_details_cause"))
        )
        @govukButton(
            Button(
                element = Some("button"),
                content = Text("Submit")
            )
        )
    }

  }

}