@import models.forms.SourCitationForm
@import models.SourCitationType.SourCitationType
@import views.html.helper
@import views.html.components.Block
@import helper._
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*


@this(
        main: Main,
        block: Block,
        govukInput: GovukInput,
        govukButton: GovukButton,
        govukErrorSummary: GovukErrorSummary
)

@(sourCitationForm: Form[SourCitationForm], baseId: Int, ownerId: Int, ownerType: SourCitationType)(implicit request: AuthenticatedRequest[?], messages: Messages)

@main(1, None) {


  @block("Add new Source citation") {

    @if(sourCitationForm.hasGlobalErrors) {
        @for(error <- sourCitationForm.globalErrors) {
            <span class="error-message">@error.format(messages)</span>
        }
    }

    @if(sourCitationForm.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummary().withFormErrorsAsHtml(sourCitationForm))
    }
    
    @helper.form(action = controllers.add.routes.AddSourCitationController.onSubmit(baseId, ownerId, ownerType) ) {
        @helper.CSRF.formField
        @govukInput(
            Input(
                label = Label(content = Text("Date")),
                hint = Some(Hint(
                    content = HtmlContent("The date that this event data was entered into the original source document.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("date"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Event")),
                hint = Some(Hint(
                    content = Text("A code that indicates the type of event which was responsible for the source entry being recorded.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("even"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Role")),
                hint = Some(Hint(
                    content = Text("A value indicating what role this person played in an event or person's life.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("role"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Submitter")),
                hint = Some(Hint(
                    content = Text("Not present in Gedcom specification.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("submitter"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Text")),
                hint = Some(Hint(
                    content = Text("A verbatim copy of any description contained within the source.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("text"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Page")),
                hint = Some(Hint(
                    content = Text("Specific location with in the information referenced.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("page"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Quay")),
                hint = Some(Hint(
                    content = Text("an estimation of the reliability of the source in regard to these claims. 0 Unreliable evidence or estimated data 1 Questionable reliability 2 Secondary evidence 3 Direct and primary evidence.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("quay"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Record id")),
                hint = Some(Hint(
                    content = Text("id of the source record where the citation is made")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("recordId"))
        )
        @govukButton(
            Button(
                element = Some("button"),
                content = Text("Submit")
            )
        )
    }

  }

}