@import models.GenealogyDatabase
@import views.html.helper
@import views.html.components.Block
@import helper._
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*


@this(
        main: Main,
        block: Block
)

@(db: GenealogyDatabase)(implicit request: AuthenticatedRequest[?], messages: Messages)

@main(db.id, title = messages("add.index.title", db.name)) {


    @block(messages("Add")) {
        <ul class="govuk-list">
            <li><a class="govuk-link" href="@controllers.add.routes.AddDatabaseController.showForm.url">Add a new database</a></li>
            <li><a class="govuk-link" href="@controllers.add.routes.AddPersonDetailsController.showForm(db.id).url">Add a new person</a></li>
            <li>Add a new family</li>
            <li>Add a new source record</li>
            <li><a class="govuk-link" href="@controllers.add.routes.AddRepositoryController.showForm(db.id).url">Add a new repository</a></li>
            <li><a class="govuk-link" href="@controllers.add.routes.AddMediaController.showForm(db.id).url">Add a new media</a></li>
        </ul>
    }
}
