@import models.forms.SourCitationForm
@import views.html.helper
@import views.html.components.Block
@import uk.gov.hmrc.govukfrontend.views.Implicits.*

@this(
        main: Main,
        block: Block,
        govukTextarea: GovukTextarea,
        govukInput: GovukInput,
        govukButton: GovukButton,
        govukSelect: GovukSelect,
        formWithCSRF: FormWithCSRF
)

@(dbId: Int, sourCitationForm: Form[SourCitationForm], sourCitation: SourCitation, sourRecords: List[SourRecord])(implicit request: AuthenticatedRequest[?], messages: Messages)

@main(dbId, None) {

    @sourCitation.sourceType match {
        case _: SourCitationType.EventSourCitation.type => {
            @for(id <- sourCitation.ownerId) {
                <div style="padding-left:10em;"><a href="@controllers.routes.EventController.showEvent(dbId, id)">Return to Event</a></div>
            }
        }
        case _ => {}
    }

    @block("Edit source details") {

    @if(sourCitationForm.hasGlobalErrors) {
        @for(error <- sourCitationForm.globalErrors) {
            <span class="error-message">@error.format(messages)</span>
        }
    }

    @formWithCSRF(controllers.edit.routes.EditSourCitationController.onSubmit(dbId, sourCitation.id)) {
        @govukInput(
            Input(
                label = Label(content = Text("Date")),
                hint = Some(Hint(
                    content = HtmlContent("The date that this event data was entered into the original source document.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("date"))
        )

        @govukInput(
            Input(
                label = Label(content = Text("Event")),
                hint = Some(Hint(
                    content = HtmlContent("A code that indicates the type of event which was responsible for the source entry being recorded.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("even"))
        )

        @govukInput(
            Input(
                label = Label(content = Text("Role")),
                hint = Some(Hint(
                    content = HtmlContent("A value indicating what role this person played in an event or person's life.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("role"))
        )

        @govukInput(
            Input(
                label = Label(content = Text("Submitter")),
                hint = Some(Hint(
                    content = HtmlContent("Not present in Gedcom specification.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("submitter"))
        )

        @govukTextarea(
            Textarea(
                label = Label(content = Text("Text")),
                hint = Some(Hint(
                    content = HtmlContent("A verbatim copy of any description contained within the source.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("text"))
        )

        @govukInput(
            Input(
                label = Label(content = Text("Page")),
                hint = Some(Hint(
                    content = HtmlContent("Specific location with in the information referenced.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("page"))
        )
        @govukInput(
            Input(
                label = Label(content = Text("Quay")),
                hint = Some(Hint(
                    content = HtmlContent("an estimation of the reliability of the source in regard to these claims. 0 Unreliable evidence or estimated data 1 Questionable reliability 2 Secondary evidence 3 Direct and primary evidence.")
                )),
                classes = "govuk-!-width-one-half"
            ).withFormField(sourCitationForm("quay"))
        )
        @govukSelect(
            Select(
                items =
                    Seq(SelectItem(value = Some(""), text = "Unknown")) ++ sourRecords.map(p => SelectItem(value = Some(p.id.toString), text = p.title + "/ " + p.repoCaln)).sortBy(_.text),
                label = Label(
                    content = Text("Sour Record")),
                hint = Some(Hint(
                    content = HtmlContent("Source record where the citation is from")
                ))
            ).withFormField(sourCitationForm("recordId"))
        )

        @govukButton(
            Button(
                element = Some("button"),
                content = Text("Submit")
            )
        )
    }
    }
}
