@import models.forms.EventDetailForm
@import views.html.helper
@import helper._
@import utils.Constants

@this(
        main: Main
)

@(eventDetailsForm: Form[EventDetailForm], allPlaces: List[Place])(implicit request: AuthenticatedRequest[?], messages: Messages)

@main("Famille Parois", 1, None) {


<div class="box">
    <div class="box_title">
        <h3>Event</h3>
    </div>

    @if(eventDetailsForm.hasGlobalErrors) {
        @for(error <- eventDetailsForm.globalErrors) {
            <span class="error-message">@error.format(messages)</span>
        }
    }

    @helper.form(action = controllers.edit.routes.EditEventDetailsController.onSubmit ) {
        @helper.CSRF.formField
        <input type="hidden" value="@eventDetailsForm("events_details_id").value" name="events_details_id" />
        <input type="hidden" value="@eventDetailsForm("eventType").value" name="eventType" />
        @helper.inputText(eventDetailsForm("base"), Symbol("_label") -> "Database")
        @helper.inputText(eventDetailsForm("place"), Symbol("_label") -> "Place")
        @helper.select(eventDetailsForm("place"), options = allPlaces.map(p => p.id.toString -> p.oneLiner).sortBy(_._2), Symbol("_label") -> "Tag")
        @helper.inputText(eventDetailsForm("addr_id"), Symbol("_label") -> "Address")
        @helper.select(eventDetailsForm("events_tag"), options = Constants.individualsEvents.map(e => e -> messages(e)), Symbol("_label") -> "Tag")
        @helper.inputText(eventDetailsForm("events_details_descriptor"), Symbol("_label") -> "Event descriptor")
        @helper.inputText(eventDetailsForm("events_details_gedcom_date"), Symbol("_label") -> "Gedocm date")
        @helper.inputText(eventDetailsForm("events_details_age"), Symbol("_label") -> "Age")
        @helper.inputText(eventDetailsForm("events_details_cause"), Symbol("_label") -> "Cause")
        <button type="submit">Submit</button>
    }

</div>

}