@import models.journeyCache.UserAnswers
@import models.journeyCache.UserAnswersKey.GedcomPath

@this(
    main: Main,
    govukSummaryList: GovukSummaryList,
    formWithCSRF: FormWithCSRF
)

@(answers: UserAnswers)(implicit messages: Messages, request: AuthenticatedRequest[?])

@gedcomPath = @{
    answers.get(GedcomPath).map { form =>
        SummaryListRow(
            key = Key(Text(messages(s"$GedcomPath"))),
            value = Value(Text(form.selectedFile)),
            classes = "govuk-summary-list__row--no-border govuk-summary-list__row--no-actions",
            actions = Some(Actions(
                items = Seq(
                    ActionItem(
                        href = GedcomPath.page.url,
                        content = Text(messages("Change"))
                    )
                )
            ))
        )
    }
}


@main(1, None, title = messages("importGedcom.checkYourAnswers.title")) {

    @govukSummaryList(
        SummaryList(
            rows = Seq(
                gedcomPath
            ).flatten,
            card = Some(Card(
                title = Some(CardTitle(content = Text("Check your answers"))),
                actions = None
            )),
            classes = ""
        )
    )

    @formWithCSRF(controllers.gedcom.routes.ImportGedcomController.checkYourAnswersImportGedcomOnSubmit) {
        <button class="govuk-button" type="submit">
            Confirm and continue
        </button>
    }
}
