@import views.html.components.Block
@import models.forms.TrueOrFalseForm
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*
@import controllers.gedcom.routes

@this(
    main: Main,
    block: Block,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    govukErrorSummary: GovukErrorSummary
)

@(form: Form[TrueOrFalseForm])(implicit request: AuthenticatedRequest[?], messages: Messages)

@main(1, None, title = messages("importGedcom.checkYourAnswers.title")) {


@block("Clear the existing database") {
    @if(form.hasGlobalErrors) {
        @for(error <- form.globalErrors) {
           <span class="error-message">@error.format(messages)</span>
        }
    }

    @if(form.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummary().withFormErrorsAsHtml(form))
    }

    @helper.form(action = controllers.gedcom.routes.ClearDatabaseQuestionController.clearDatabaseQuestionOnSubmit ) {
        @helper.CSRF.formField

        @govukRadios(Radios(
            fieldset = Some(Fieldset(
                legend =
                    Some(Legend(
                        content = Text(s"Choose if you want to delete the content of the database before importing the data"),
                        isPageHeading = true
                    ))
            )),
            hint = None,
            items = Seq(
                RadioItem(
                    content = Text("Delete the existing data"),
                    value = Some("true")
                ),
                RadioItem(
                    content = Text("Keep the existing data"),
                    value = Some("false")
                )
            )
        ).withFormField(form("trueOrFalse")))

        @govukButton(Button(
            content = Text("Continue"),
            name = Some("submit"),
            href = None,
            inputType = Some("submit")
        ))
    }
}

}