@import views.html.components.Block
@import helper._
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*
@import models.gedcom.GedcomObject
@import models.forms.TrueOrFalseForm
@import java.time.Instant

@this(
    main: Main,
    block: Block
)

@(statuses: Seq[(Instant, String)])(implicit request: AuthenticatedRequest[?], messages: Messages)

@main(1, None, title = messages("importGedcom.checkYourAnswers.title")) {

    @block(s"Status of the import") {
        @if(statuses.isEmpty) {
            <p class="govuk-body">No job could be found</p>
        } else {
            <ul class="govuk-list">
            @for(status <- statuses) {
                <li>@{status._1} - @{status._2}</li>
            }
            </ul>

        }
    }
}