@import views.html.components.Block
@import helper._
@import uk.gov.hmrc.govukfrontend.views.Implicits.*
@import uk.gov.hmrc.govukfrontend.views.html.components.implicits.*
@import uk.gov.hmrc.hmrcfrontend.views.Implicits.*
@import models.gedcom.GedcomObject
@import models.forms.PlacesElementsForm
@import models.gedcom.PlaceSubdivisionMapping

@this(
        main: Main,
        formWithCSRF: FormWithCSRF,
        govukErrorSummary: GovukErrorSummary,
        govukTable: GovukTable,
        govukSelect: GovukSelect,
        govukButton: GovukButton
)

@(placesSample: Set[List[String]], placesElementsForm: Form[PlacesElementsForm])(implicit request: AuthenticatedRequest[?], messages: Messages)

@selectPlaceElement(index: Int) = {
    @govukSelect(
        Select(
            items = List(SelectItem(value = Some(""), text = "------------")) ++
                    PlaceSubdivisionMapping.values.map(p => SelectItem(value = Some(p.toString), text = p.toString)),
            hint = None,
            classes = "no-min-width"
        ).withFormField(placesElementsForm(s"hierarchy[$index]"))
    )
}

@main(1, None, title = messages("importGedcom.choosePlaceElements.title")) {

    @if(placesElementsForm.hasErrors) {
        @govukErrorSummary(ErrorSummary(
            errorList = placesElementsForm.errors.map { error =>
                ErrorLink(
                    href = Some(s"#${error.key}"),
                    content = Text(messages(error.message))
                )
            },
            title = Text("There is a problem")
        ))
    }

    @formWithCSRF(controllers.gedcom.routes.GedcomPlaceParserController.chooseExtractPlaceElementsOnSubmit) {
        <div class="scroll-container">
          @govukTable(Table(
            rows = placesSample.toSeq.map(rows => rows.map(cell => TableRow(content = Text(cell)))),
            head = Some((0 until placesSample.headOption.map(_.size).getOrElse(0)).map(c => HeadCell(content = HtmlContent(selectPlaceElement(c)))))
          ))
        </div>

        @govukButton(Button(
            content = Text("Submit"),
            name = Some("submit"),
            href = None,
            inputType = Some("submit")))
    }

}

