@import models.Person
@import views.html.components.{FamilyView, PersonDetails, IndividualEvents, Parents, NameLink}


@this(
  main: Main,
        nameLink: NameLink)

@(flatTree: List[(Int, List[Person])], dbId: Int)(implicit request: AuthenticatedRequest[?], messages: Messages)


@main("todo", dbId, flatTree.headOption.flatMap(_._2.headOption)) {

  @for(gen <- flatTree) {  
    <h3>Generation @{gen._1}</h3>
    <ul>
    @for(person <- gen._2) {
      <li>@nameLink(person)</li>
    }
    </ul>
  }

}
