@import models.Person
@import views.html.components.{Block, NameLink, SubNavigation}
@import config.AppConfig
@import models.ResnType.PrivacyResn

@this(
    main: Main,
    block: Block,
    nameLink: NameLink,
    appConfig: AppConfig,
    subNavigation: SubNavigation
)

@(person: Person, dbId: Int)(implicit request: AuthenticatedRequest[?], messages: Messages)

@aDescendant(person: Person, depth: Int = 1): Html = @{
    val isAllowedToSee = request.localSession.sessionData.userData.fold(false)(_.seePrivacy)
    val children = if(person.families.isEmpty) {
        ""
    } else {
        """<ul class="govuk-list govuk-!-margin-top-0 govuk-!-margin-bottom-0" style="padding-left:40px">""" +
                person.families.map { family =>
                    if (!person.details.privacyRestriction.contains(PrivacyResn) || isAllowedToSee) {
                        val first = person.findSelf(family.id).fold(""){ partner =>
                            "<li style=\"margin:0;padding:0\">x " + nameLink(dbId, partner) + "</li>"
                        }
                        val last = family.children.reverse.headOption
                        val allButLast = family.children.dropRight(1)
                        first + allButLast.map { child =>
                           s"<li style=\"margin:0;padding:0\">├${aDescendant(child.person, depth + 1)}</li>"
                        }.mkString("\n") + last.fold("") { child =>
                          s"<li style=\"margin:0;padding:0\">└${aDescendant(child.person, depth + 1)}</li>"
                        }
                    } else {
                        appConfig.redactedMask
                    }
                }.mkString("\n") + "</ul>"
    }

    if (!person.details.privacyRestriction.contains(PrivacyResn) || isAllowedToSee) {
        Html(s"<span class=\"govuk-!-font-size-16\">[$depth]</span>" + nameLink(dbId, person) + children)
    } else {
        Html(s"<span class=\"govuk-!-font-size-16\">[$depth]</span>" + appConfig.redactedMask + children)
    }
}

@main(dbId, messages("descendants.title", person.name)) {

    @subNavigation("Descendants", dbId, person.details.id)
    @block("Descendants") {
  <ul class="govuk-list"><li style="margin:0;padding:0">
      @aDescendant(person)
  </li></ul>
}
}
