@import models.Person
@import views.html.components.{Block, FamilyView, PersonDetails, EventsDetails, Parents, NameLink}


@this(
  main: Main,
  block: Block,
        nameLink: NameLink)

@(person: Person, dbId: Int)(implicit request: AuthenticatedRequest[?], messages: Messages)

@aDescendant(person: Person, depth: Int = 1): Html = @{

    val children = if(person.families.isEmpty) {
        ""
    } else {
        """<ul class="govuk-list govuk-!-margin-top-0 govuk-!-margin-bottom-0" style="padding-left:40px">""" +
                person.families.map { family =>
                    val first = person.findPartner(family.id).fold(""){ partner =>
                        "<li style=\"margin:0;padding:0\">x " + nameLink(partner) + "</li>"
                    }
                    val last = family.children.reverse.headOption
                    val allButLast = family.children.dropRight(1)
                    first + allButLast.map { child =>
                        s"<li style=\"margin:0;padding:0\">├${aDescendant(child.person, depth + 1)}</li>"
                    }.mkString("\n") + last.fold("") { child =>
                        s"<li style=\"margin:0;padding:0\">└${aDescendant(child.person, depth + 1)}</li>"
                    }
                }.mkString("\n") + "</ul>"
    }

    Html(s"<span class=\"govuk-!-font-size-16\">[$depth]</span>" + nameLink(person) + children)
}

@main(dbId, Some(person)) {

    @block("Descendants") {
  <ul class="govuk-list"><li style="margin:0;padding:0">
      @aDescendant(person)
  </li></ul>
}
}
