@import models.Person
@import views.html.components.{FamilyView, PersonDetails, IndividualEvents, Parents}
@import models.EventType.{IndividualEvent, FamilyEvent, UnknownEvent}
@import controllers.routes.Assets

@this(
  main: Main)

@(event: EventDetail, dbId: Int, person: Option[Person])(implicit request: AuthenticatedRequest[?], messages: Messages)


@main(event.description.getOrElse("Event"), dbId, person) {

  @if(event.eventType == IndividualEvent) {
    @for(ownerId <- event.ownerId) {
      <div style="padding-left:10em;"><a href="@controllers.routes.IndividualController.showPerson(ownerId)">Return to @event.description page</a></div>
    }
  }
  @if(event.eventType == FamilyEvent) {
    @for(ownerId <- event.ownerId) {
      <div style="padding-left:10em;"><a href="controllers.routes.FamilyController.showPerson(ownerId)">Return to @event.description page</a></div>
    }
  }
  @if(event.eventType == UnknownEvent) {
    <div style="padding-left:10em;">Orphan event</div>
  }
  <div class="box">
    <div class="box_title">
      <h3>Event details</h3>
    </div>

    <ul>
      @for(tag <- event.tag) {
        <li>Type: @messages(tag)</li>
      }
      @for(place <- event.place) {
        <li>Place: @place.oneLiner</li>
      }
      <li>events_details_descriptor: @event.events_details_descriptor</li>
      <li>Date: @event.formatDate</li>
      <li>Age: @event.events_details_age</li>
      <li>Cause: @event.events_details_cause</li>
      <li>Timestamp: @event.events_details_timestamp</li>
    </ul>


        @for(source <- event.sourCitations) {
          <div class="box">
            <div class="box_title">
              <h3>Source</h3>
            </div>

          <ul>
            <li>id: @source.id</li>
            <li>Date: @source.dates</li>
            <li>Event: @source.even</li>
            <li>Submitter: @source.subm</li>
            <li>text: @source.text</li>
            <li>Page: @source.page</li>
            <li>==========</li>
            @for(record <- source.record) {
              <li>title: @record.title</li>
              <li>Agency: @record.agnc</li>
              <li>Author: @record.auth</li>
              <li>Abbreviation: @record.abbr</li>
            }
          </ul>

          @for(media <- source.medias) {
            <ul>
              <li>@media.title</li>
              <li>@media.filename</li>
            </ul>
            <div style="width:90%;margin-left:auto;margin-right:auto;padding:1em;"><img src="@routes.Assets.versioned(s"Medias/Parois/${media.filename}")" /></div>
          }
          </div>
        }
      </div>
}
