@import models.Person
@import play.twirl.api.HtmlFormat
@import views.html.components.{Block, SourCitations, LastModified}
@import models.EventType.{IndividualEvent, FamilyEvent, UnknownEvent}
@import models.SourCitationType.EventSourCitation
@import controllers.routes.Assets
@import config.AppConfig

@this(
  main: Main,
  sourCitations: SourCitations,
  lastModified: LastModified,
  govukSummaryList: GovukSummaryList
)(
  implicit val appConfig: AppConfig
)

@(event: EventDetail, dbId: Int, person: Option[Person])(implicit request: AuthenticatedRequest[?], messages: Messages)


@main(dbId, person) {

  @event.eventType match {
    case _: IndividualEvent.type => {
      @for(ownerId <- event.ownerId) {
        <div style="padding-left:10em;"><a class="govuk-link" href="@controllers.routes.IndividualController.showPerson(dbId, ownerId)">Return to @event.description page</a></div>
      }
    }
    case _: FamilyEvent.type => {
      @for(ownerId <- event.ownerId) {
        <div style="padding-left:10em;"><a class="govuk-link" href="@controllers.routes.FamilyController.showFamily(dbId, ownerId)">Return to @event.description page</a></div>
      }
    }
    case _ => { <div style="padding-left:10em;">Orphan event</div> }
  }

  @lastModified(event.events_details_timestamp)

  @govukSummaryList(
    SummaryList(
        rows = Seq(
          event.tag.map { tag =>
            SummaryListRow(
                key = Key(Text("Type")),
                value = Value(Text(messages(tag))),
                classes = "govuk-summary-list__row--no-border",
                actions = None
            )
          },
          event.place.map { place =>
            SummaryListRow(
                key = Key(Text("Place")),
                value = Value(HtmlContent(place.oneLiner(false))),
                classes = "govuk-summary-list__row--no-border",
                actions = None
            )
          },
          Some(SummaryListRow(
                key = Key(Text("Description")),
                value = Value(Text(event.events_details_descriptor)),
                classes = "govuk-summary-list__row--no-border",
                actions = None
            )),
            Some(SummaryListRow(
              key = Key(Text("Date")),
              value = Value(Text(event.formatDate())),
              classes = "govuk-summary-list__row--no-border",
              actions = None
            )),
            Some(SummaryListRow(
              key = Key(Text("Age")),
              value = Value(Text(event.events_details_age)),
              classes = "govuk-summary-list__row--no-border",
              actions = None
            )),
            Some(SummaryListRow(
              key = Key(Text("Cause")),
              value = Value(Text(event.events_details_cause)),
              classes = "govuk-summary-list__row--no-border",
              actions = None
            )) 
        ).flatten,
        card = Some(Card(
            title = Some(CardTitle(content = Text("Event details"))),
            actions = Some(Actions(
              items = Seq(
                  ActionItem(
                      href = controllers.edit.routes.EditEventDetailController.showForm(dbId, event.events_details_id).url,
                      content = Text("Edit")
                  ),
                  ActionItem(
                      href = "#",
                      content = Text("Delete")
                  )
              )
          )),
            classes = "govuk-!-margin-4",
            attributes = Map.empty
        )),
        classes = "",
        attributes = Map.empty
    )
  )

  @sourCitations(dbId, event.sourCitations, event.events_details_id, EventSourCitation)
  
}