@import models.Person
@import play.twirl.api.HtmlFormat
@import views.html.components.{Block, FamilyView, LastModified}
@import models.EventType.{IndividualEvent, FamilyEvent, UnknownEvent}
@import models.{SourCitation => ModelSourCitation}
@import models.SourCitationType.{EventSourCitation, IndividualSourCitation, FamilySourCitation}

@this(
  main: Main,
  familyView: FamilyView
)

@(dbId: Int, family: Family)(implicit request: AuthenticatedRequest[?], messages: Messages)

@title(family: Family) = {
  Family
  @family.parent1.map(_.details.surname).getOrElse("Unknown") —
  @family.parent2.map(_.details.surname).getOrElse("Unknown")
}

@main(dbId, None, title(family).toString) {

  @familyView(dbId, family, None)
  
}