@import config.AppConfig
@import models.queryData.FirstnameWithBirthDeath
@import utils.GedcomDateLibrary
@import views.html.components.PaginationComponent
@import models.FirstnamesListPagination

@this(
        main: Main,
        paginationComponent: PaginationComponent,
        govukSummaryList: GovukSummaryList
)(
  implicit appConfig: AppConfig
)

@(dbId: Int, surname: String, title: String, firstnamesListPagination: FirstnamesListPagination)(implicit request: AuthenticatedRequest[?], messages: Messages)

@main(dbId, None, title) {

    @paginationComponent(dbId, surname, firstnamesListPagination)
    @govukSummaryList(
        SummaryList(
            rows = firstnamesListPagination.firstnames.map { name =>
                SummaryListRow(
                    key = Key(Text(name.firstname)),
                    value = Value(Text(GedcomDateLibrary.birthAndDeathDate(name.birth, name.death))),
                    classes = "govuk-summary-list__row--no-border",
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = controllers.routes.IndividualController.showPerson(dbId, name.id).url,
                                content = Text(messages("View"))
                            )
                        )
                    ))
                )
            },
            card = Some(Card(
                title = Some(CardTitle(content = Text(messages("Firstnames")))),
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = controllers.add.routes.AddPersonDetailsController.showForm(dbId).url,
                            content = Text(messages("Add"))
                        )
                    )
                )),
                classes = "govuk-!-margin-4",
                attributes = Map.empty
            )),
            classes = "",
            attributes = Map.empty
        )
    )
    @paginationComponent(dbId, surname, firstnamesListPagination)

}