@import config.AppConfig

@this(
        main: Main,
        govukSummaryList: GovukSummaryList
)(
  implicit val appConfig: AppConfig
)

@(names: List[Person], dbId: Int)(implicit request: AuthenticatedRequest[?], messages: Messages)

@boxTitle(names: List[Person]) = @{
    names.headOption.fold("Individuals") { name =>
        s"People with lastname ${name.details.surname}"
    }
}

@main(dbId, None) {

    @govukSummaryList(
        SummaryList(
            rows = names.map { name =>
                SummaryListRow(
                    key = Key(Text(name.details.firstname.toString)),
                    value = Value(Text(name.events.birthAndDeathDate().toString)),
                    classes = "govuk-summary-list__row--no-border",
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = controllers.routes.IndividualController.showPerson(dbId, name.details.id).url,
                                content = Text("View")
                            )
                        )
                    ))
                )
            },
            card = Some(Card(
                title = Some(CardTitle(content = Text(boxTitle(names)))),
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = controllers.add.routes.AddPersonDetailsController.showForm(dbId).url,
                            content = Text("Add")
                        )
                    )
                )),
                classes = "govuk-!-margin-4",
                attributes = Map.empty
            )),
            classes = "",
            attributes = Map.empty
        )
    )

}