@import models.SessionData

@this(
        main: Main,
        govukSummaryList: GovukSummaryList
)

@(dbs: List[GenealogyDatabase], localSession: SessionData)(implicit request: AuthenticatedRequest[?], messages: Messages)


@main(localSession.dbId, None) {

    @govukSummaryList(
        SummaryList(
            rows = dbs.map { db =>
                SummaryListRow(
                    key = Key(Text(db.name)),
                    value = Value(Text(db.description)),
                    classes = "govuk-summary-list__row--no-border",
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = controllers.routes.HomeController.showSurnames(db.id).url,
                                content = Text("View")
                            )
                        )
                    ))
                )
            },
            card = Some(Card(
                title = Some(CardTitle(content = Text("List of databases"))),
                actions = Some(Actions(
                    items = Seq(
                        ActionItem(
                            href = "#",
                            content = Text("Add")
                        )
                    )
                )),
                classes = "govuk-!-margin-4",
                attributes = Map.empty
            )),
            classes = "",
            attributes = Map.empty
        )
    )
}