@import models.SessionData

@this(
        main: Main,
        govukSummaryList: GovukSummaryList
)

@(dbs: List[GenealogyDatabase], localSession: SessionData)(implicit request: AuthenticatedRequest[?], messages: Messages)


@main("Famille Parois", localSession.dbId, None) {

  @for(userData <- localSession.userData) {
      <h1>@userData.username</h1>
  }

    @govukSummaryList(
        SummaryList(
            rows = dbs.map { db =>
                SummaryListRow(
                    key = Key(Text(db.name)),
                    value = Value(Text(db.description)),
                    classes = "govuk-summary-list__row--no-border",
                    actions = Some(Actions(
                        items = Seq(
                            ActionItem(
                                href = controllers.routes.HomeController.showSurnames(db.id).url,
                                content = Text("View")
                            )
                        )
                    ))
                )
            },
            card = Some(Card(
                title = Some(CardTitle(content = Text("Events"))),
                actions = None,
                classes = "govuk-!-margin-4",
                attributes = Map.empty
            )),
            classes = "",
            attributes = Map.empty
        )
    )

}
