@import models.Person
@import views.html.components.{FamilyView, PersonDetails, EventsDetails, Parents}

@this(
  main: Main,
  familyView: FamilyView,
  personDetails: PersonDetails,
  individualEvents: EventsDetails,
  parents: Parents)

@(person: Person, dbId: Int)(implicit request: AuthenticatedRequest[?], messages: Messages)


@main(dbId, Some(person)) {

  @personDetails(dbId, person)
  
  @individualEvents(dbId, person.events)

  @for(family <- person.families) {
    @familyView(dbId, family, person.findPartner(family.id))
  }

  @parents(dbId, person)

}
