@import models.{Family, Person}
@import views.html.components.{Block, FamilyView, PersonDetails, EventsDetails, Parents}

@this(
  main: Main,
  familyView: FamilyView,
  block: Block,
  personDetails: PersonDetails,
  individualEvents: EventsDetails,
  parents: Parents)

@(person: Person, dbId: Int)(implicit request: AuthenticatedRequest[?], messages: Messages)

@title(family: Family) = {
  Family
  @family.parent1.map(_.details.surname).getOrElse("Unknown") —
  @family.parent2.map(_.details.surname).getOrElse("Unknown")
}

@breadcrumbs = @{
  Breadcrumbs(
    items = Seq(
      BreadcrumbsItem(
        content = Text(person.details.surname),
        href = Some(controllers.routes.HomeController.showFirstnames(dbId, person.details.surname).url)
      )
    )
  )
}

@main(dbId, Some(person), person.name, Some(breadcrumbs)) {

  @personDetails(dbId, person)
  
  @individualEvents(dbId, person.events)

  @for(family <- person.families) {
    @block(title(family).toString,
      Some(Actions(
        items = Seq(ActionItem(
          href = controllers.delete.routes.DeleteFamilyController.deleteFamilyConfirmation(dbId, family.id).url,
          content = Text("Delete")
        ))
      )),
      Some(Actions(
        items = Seq(ActionItem(
          href = controllers.routes.FamilyController.showFamily(dbId, family.id).url,
          content = Text("View")
        ))
      ))
    ) {
      @familyView(dbId, family, person.findPartner(family.id))
    }
  }

  @parents(dbId, person)

}
