@import views.html.helper
@import models.forms.UserDataForm
@import uk.gov.hmrc.govukfrontend.views.Implicits.*

@this(
        main: Main,
        formWithCSRF: FormWithCSRF,
        govukInput: GovukInput,
        govukButton: GovukButton
)

@(userForm: Form[UserDataForm])(implicit request: AuthenticatedRequest[?], messages: Messages)

@main(1, None, "Login into your account") {

        @if(userForm.hasGlobalErrors) {
            @for(error <- userForm.globalErrors) {
                <span class="error-message">@error.format(messages)</span>
            }
        }

        @formWithCSRF(controllers.routes.SessionController.loginOnSubmit()) {
            @govukInput(
                Input(
                    label = Label(content = Text("Username or email address")),
                    classes = "govuk-!-width-one-half"
                ).withFormField(userForm("username"))
            )

            @govukInput(
                Input(
                    label = Label(content = Text("Your password")),
                    inputType = "password",
                    classes = "govuk-!-width-one-half"
                ).withFormField(userForm("password"))
            )

            @govukButton(
                Button(
                    element = Some("button"),
                    content = Text("Submit")
                )
            )

        }
}
