@import models.AuthenticatedRequest
@import views.html.components.{Block}
@import uk.gov.hmrc.hmrcfrontend.config.AssetsConfig
@import uk.gov.hmrc.hmrcfrontend.views.html.components._
@import config.AppConfig

@this(
    appConfig: AppConfig,
    assetConfig: AssetsConfig,
    govukServiceNavigation: GovukServiceNavigation,
    govukBreadcrumbs: GovukBreadcrumbs,
    hmrcTimeoutDialog: HmrcTimeoutDialog
)


@(dbId: Int, personOption: Option[Person], title: String = "My family tree", breadcrumbs: Option[Breadcrumbs] = None)(contentBlock: Html)(implicit authenticatedRequest: AuthenticatedRequest[?], messages: Messages)

@timeoutDialog = {  
    @hmrcTimeoutDialog(TimeoutDialog(
      timeout = Some(900),
      countdown = Some(2),
      signOutUrl = Some(controllers.routes.SessionController.logoutOnLoad().url),
      keepAliveUrl = Some("#"),
      signOutButtonText = Some("Log out")
    ))
  }

@loginOrlogout = @{
    if(authenticatedRequest.localSession.sessionData.userData.isEmpty) {
        Some(ServiceNavigationItem(
            content = Text(messages("Login")),
            href = s"${controllers.routes.SessionController.loginOnLoad().url}?returnUrl=${authenticatedRequest.request.uri}",
            active = false,
            current = false,
            classes = "",
            attributes = Map.empty
        ))
    } else {
        Some(ServiceNavigationItem(
            content = Text(messages("Logout")),
            href = controllers.routes.SessionController.logoutOnLoad().url,
            active = false,
            current = false,
            classes = "",
            attributes = Map.empty
        ))
    }
}

@breadcrumbsMenu = @{
    val homeEntry = BreadcrumbsItem(
        content = Text(messages("Home")),
        href = Some(controllers.routes.HomeController.onload().url),
        attributes = Map.empty
    )

    val databaseEntry = authenticatedRequest.genealogyDatabase.fold(Seq(homeEntry)){ database =>
        Seq(
            homeEntry,
            BreadcrumbsItem(
                content = Text(messages("Database.title", database.name)),
                href = Some(controllers.routes.HomeController.showSurnames(database.id).url),
                attributes = Map.empty
            )
        )
    }

    breadcrumbs.fold(Breadcrumbs(databaseEntry)) { someBreadcrumbs =>
        Breadcrumbs(
            items = databaseEntry ++ someBreadcrumbs.items
        )
    }
}

<!DOCTYPE html>
<html lang="fr" class="govuk-template">
<head>
    <title>@title</title>
    <meta name="Description" content="" />
    <meta name="Keywords" content="genealogie, genealogy" />
    <meta name="Author" content="Pascal Parois" />
    <meta http-equiv="Content-language" content="fr" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c">

    <link rel="icon" type="image/png" href="@routes.AssetsController.get("images/favicon.png")">
    <link rel="stylesheet" media="screen" href="@assetConfig.hmrcFrontendCssUrl">
    <link rel="stylesheet" media="screen" href="@routes.AssetsController.get("stylesheets/main.css")">
    <script type="module" src="@{assetConfig.hmrcFrontendJsUrl}" type="text/javascript"></script>

    @if(authenticatedRequest.localSession.sessionData.userData.isDefined){
      @timeoutDialog
    }

</head>
<body class="govuk-frontend-supported">
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <header>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
        @govukServiceNavigation(ServiceNavigation(
            serviceName = Some("Parois.net"),
            serviceUrl = Some("/"),
            navigation = Seq(
                Some(ServiceNavigationItem(
                    content = Text(messages("Surnames")),
                    href = controllers.routes.HomeController.showSurnames(dbId).url,
                    active = false,
                    current = false,
                    classes = "",
                    attributes = Map.empty
                )),
                if(authenticatedRequest.localSession.sessionData.userData.fold(false)(_.isAdmin)) {
                    Some(ServiceNavigationItem(
                        content = Text("Problems"),
                        href = controllers.routes.ProblemsController.onload(dbId).url,
                        active = false,
                        current = false,
                        classes = "",
                        attributes = Map.empty
                    ))
                } else {
                    None
                },
                personOption.map { person =>
                    ServiceNavigationItem(
                        content = Text(messages("person.details")),
                        href = controllers.routes.IndividualController.showPerson(dbId, person.details.id).url,
                        active = false,
                        current = false,
                        classes = "",
                        attributes = Map.empty
                    )
                },
                personOption.map { person =>
                    ServiceNavigationItem(
                        content = Text(messages("Tree")),
                        href = controllers.routes.TreeController.showTree(dbId, person.details.id).url,
                        active = false,
                        current = false,
                        classes = "",
                        attributes = Map.empty
                    )
                },
                personOption.map { person =>
                  ServiceNavigationItem(
                    content = Text(messages("Descendants")),
                    href = controllers.routes.DescendanceController.showDescendant(dbId, person.details.id).url,
                    active = false,
                    current = false,
                    classes = "",
                    attributes = Map.empty
                  )
                },
                personOption.map { person =>
                  ServiceNavigationItem(
                    content = Text(messages("Ascendants")),
                    href = controllers.routes.AscendanceController.showAscendant(dbId, person.details.id).url,
                    active = false,
                    current = false,
                    classes = "",
                    attributes = Map.empty
                  )
                },
                loginOrlogout
            ).flatten,
            navigationClasses = "",
            navigationId = "navigation",
            navigationLabel = Some("navigationLabel"),
            classes = "",
            attributes = Map.empty,
            ariaLabel = None,
            menuButtonText = Some(messages("Menu")),
            menuButtonLabel = Some(messages("Menu")),
            slots = Some(ServiceNavigationSlot(
                start = None,
                end =  None,
                navigationStart = None,
                navigationEnd = None
              ))
        ))
        </div>
        </div>

    </header>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">@govukBreadcrumbs(breadcrumbsMenu)</div>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-body govuk-!-margin-top-3"><a class="govuk-link" href="@routes.LanguageController.switchToLanguage("fr")">Français</a> | <a class="govuk-link" href="@routes.LanguageController.switchToLanguage("en")">English</a></div>
      </div>
    </div>

    <main class="govuk-main-wrapper">
        <div class="govuk-width-container">
            <div class="hmrc-page-heading ">
                <h1 id="pageHeading" class="govuk-heading-l govuk-!-margin-bottom-3">@title</h1>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full box" id="main-content">
                    @contentBlock
                </div>
            </div>
        </div>
    </main>

    <footer class="govuk-footer">
        <div class="govuk-width-container">
            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link" href="mailto:genealogie@("@")parois.net">genealogie.parois.net </a>
                </div>
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                    <ul class="govuk-footer__list">
                        <li class="govuk-footer__list-item">
                            Version @{appConfig.commitHash}
                        </li>
                        <li class="govuk-footer__list-item">
                            Session: @{authenticatedRequest.localSession.sessionId}
                        </li>
                        <li class="govuk-footer__list-item">
                            <a class="govuk-footer__link" href="https://github.com/pascal22p/genealogy/">
                                On github
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>