@import models.SessionData
@import models.MediaType.MediaType
@import models.MediaType.{EventMedia, IndividualMedia, FamilyMedia, SourCitationMedia}
@import views.html.components.LastModified

@this(
        main: Main,
        lastModified: LastModified,
        govukSummaryList: GovukSummaryList
)

@(dbId: Int, medias: List[Media])(implicit request: AuthenticatedRequest[?], messages: Messages)

@link(id: Int, dbId: Int, mediaType: MediaType): Option[String] = @{
  mediaType match {
    case _: EventMedia.type        => Some(routes.EventController.showEvent(dbId, id).url)
    case _: IndividualMedia.type   => Some(routes.IndividualController.showPerson(dbId, id).url)
    case _: FamilyMedia.type       => None
    case _: SourCitationMedia.type => Some(routes.SourCitationController.showSourCitation(dbId, id).url)
    case _                 => None
  }
}

@keyContent(media: Media): String = @{
  if(media.title.isEmpty) {
    media.filename
  } else {
    media.title
  }
}

@main(1, None, title = messages("mediaList.title")) {

  @govukSummaryList(
    SummaryList(
      rows = medias.filter(_.ownerId.isEmpty).map { media =>
        SummaryListRow(
          key = Key(HtmlContent(keyContent(media))),
          value = Value(HtmlContent(s"""${lastModified(media.timestamp)}<br /><img src="${routes.MediaController.serveMedia(dbId, media.filename)}" style="width:90%;"/>""")),
          classes = "",
          actions = Some(Actions(
            items = Seq(
              link(media.ownerId.getOrElse(-1), media.dbId, media.mediaType).map { aLink => ActionItem(
                href = aLink,
                content = Text(messages("View"))
              )},
              Some(ActionItem(
                href = "#",
                content = Text(messages("Delete"))
              ))
            ).flatten
          ))
        )
      },
      card = Some(Card(
        title = Some(CardTitle(content = Text(messages("medias.orphaned")))),
        actions = Some(
          Actions(
            items = Seq(
              ActionItem(
                href = controllers.add.routes.AddMediaController.showForm(dbId).url,
                content = Text(messages("Add"))
              )
            )
          )),
        classes = "govuk-!-margin-4",
        attributes = Map.empty
      )),
      classes = "",
      attributes = Map.empty
    )
  )

  @govukSummaryList(
    SummaryList(
      rows = medias.filter(_.ownerId.isDefined).map { media =>
        SummaryListRow(
          key = Key(HtmlContent(keyContent(media))),
          value = Value(HtmlContent(s"""${lastModified(media.timestamp)}<br /><img src="${routes.MediaController.serveMedia(dbId, media.filename)}" style="width:90%;"/>""")),
          classes = "",
          actions = Some(Actions(
            items = Seq(
              link(media.ownerId.getOrElse(-1), media.dbId, media.mediaType).map { aLink => ActionItem(
                href = aLink,
                content = Text(messages("View"))
              )},
              Some(ActionItem(
                href = "#",
                content = Text(messages("Delete"))
              ))
            ).flatten
          ))
        )
      },
      card = Some(Card(
        title = Some(CardTitle(content = Text(messages("Medias")))),
        actions = Some(
          Actions(
            items = Seq(
              ActionItem(
                href = controllers.add.routes.AddMediaController.showForm(dbId).url,
                content = Text(messages("Add"))
              )
            )
          )),
        classes = "govuk-!-margin-4",
        attributes = Map.empty
      )),
      classes = "",
      attributes = Map.empty
    )
  )

}