@import models.Person
@import play.twirl.api.HtmlFormat
@import views.html.components.{Block, OneSourCitation, LastModified}
@import models.EventType.{IndividualEvent, FamilyEvent, UnknownEvent}
@import models.{SourCitation => ModelSourCitation}
@import models.SourCitationType.{EventSourCitation, IndividualSourCitation, FamilySourCitation}

@this(
  main: Main,
  oneSourCitation: OneSourCitation
)

@(dbId: Int, modelSourCitation: ModelSourCitation)(implicit request: AuthenticatedRequest[?], messages: Messages)


@main(dbId, None) {

  @(modelSourCitation.sourceType, modelSourCitation.ownerId)  match {
    case (_: EventSourCitation.type, Some(id)) => { <a href="@routes.EventController.showEvent(dbId, id)">@messages("sourCitation.see.event")</a> }
    case (_: IndividualSourCitation.type, Some(id)) => { <a href="@routes.IndividualController.showPerson(dbId, id)">@messages("sourCitation.see.individual")</a> }
    case (_: FamilySourCitation.type, Some(id)) => { <a href="@routes.FamilyController.showFamily(dbId, id)">@messages("sourCitation.see.family")</a> }
    case _ => { @messages("sourCitation.not.attached") }
  }

  @oneSourCitation(dbId, modelSourCitation)
  
}