@import models.SessionData
@import views.html.components.{Block, LastModified}
@import models.queryData.RepositoryQueryData
@import models.queryData.AddressQueryData
@import viewModels.{HtmlLinkViewModel, SourCitationUsageViewModel, SourCitationViewModel}

@this(
        main: Main,
        block: Block,
        govukSummaryList: GovukSummaryList
)

@(
        database: Option[GenealogyDatabase],
        sourRecord: SourRecord,
        citations: List[SourCitationViewModel]
)(implicit request: AuthenticatedRequest[?], messages: Messages)

@dbId = @{ database.fold(0)(_.id) }

@citationContent(
        source: SourCitationQueryData,
        usages: List[SourCitationUsageViewModel]
) = {
  <ul class="govuk-list">
    <li>Page: @source.page</li>
    <li>Dates: @source.dates</li>
    <li>Text: @source.text</li>
    <li>Quay: @source.quay</li>
    <li>Subm: @source.subm</li>
  </ul>
  Usages:
    <ul class="govuk-list">
    @usages.map { usage =>
      <li>
        @for(owner <- usage.owner) {
            <a class="govuk-link" href="@owner.url">@owner.description</a>
        }
        <ul class="govuk-list" style="margin-left: 1em;">
        @usage.persons.map { person =>
            <li><a class="govuk-link" href="@person.url">@person.description</a></li>
        }
        </ul>
      </li>
    }
    </ul>
}

@main(database) {

  @block("Source Record") {
    <ul class="govuk-list">
      <li>id: @sourRecord.id</li>
      <li>Auth: @sourRecord.auth</li>
      <li>Title: @sourRecord.title</li>
      <li>Abbr: @sourRecord.abbr</li>
      <li>Publ: @sourRecord.publ</li>
      <li>Agnc: @sourRecord.agnc</li>
      <li>Rin: @sourRecord.rin</li>
      <li>Repo: @sourRecord.repoId</li>
      <li>Repo caln: @sourRecord.repoCaln</li>
      <li>Repo medi: @sourRecord.repoMedi</li>
    </ul>

    @govukSummaryList(
      SummaryList(
        rows = citations.map { citationWithUsages =>
          val citation = citationWithUsages.sourCitation
          val usages = citationWithUsages.usages
          SummaryListRow(
            key = Key(Text(citation.id.toString)),
            value = Value(HtmlContent(citationContent(citation, usages))),
            classes = "",
            actions = Some(Actions(
              items = Seq(
                ActionItem(
                href = "#",
                content = Text(messages("Delete"))
                ),
                ActionItem(
                  href = controllers.routes.SourCitationController.showSourCitation(dbId, citation.id).url,
                  content = Text(messages("View"))
                ),
                ActionItem(
                  href = controllers.edit.routes.EditSourCitationController.showForm(dbId, citation.id).url,
                  content = Text(messages("Edit"))
                ))
            ))
          )
        },
        card = Some(Card(
          title = Some(CardTitle(content = Text("List of Source citations"))),
          actions = Some(
            Actions(
              items = Seq(
                ActionItem(
                  href = "#",
                  content = Text(messages("Add"))
                )
              )
            )),
          classes = "govuk-!-margin-4",
          attributes = Map.empty
        )),
        classes = "",
        attributes = Map.empty
      )
    )
  }
}