@import models.SessionData
@import views.html.components.{Block, LastModified}
@import models.queryData.RepositoryQueryData
@import models.queryData.AddressQueryData

@this(
        main: Main,
        block: Block,
        govukSummaryList: GovukSummaryList
)

@(dbId: Int, sourRecord: SourRecord, citations: List[SourCitationQueryData])(implicit request: AuthenticatedRequest[?], messages: Messages)

@citationContent(source: SourCitationQueryData) = {
  <ul class="govuk-list">
    <li>Page: @source.page</li>
    <li>Dates: @source.dates</li>
    <li>Text: @source.text</li>
    <li>Quay: @source.quay</li>
    <li>Subm: @source.subm</li>
  </ul>
}

@main(dbId, title = messages("mediaList.title")) {

  @block("Source Record") {
    <ul class="govuk-list">
      <li>id: @sourRecord.id</li>
      <li>Auth: @sourRecord.auth</li>
      <li>Title: @sourRecord.title</li>
      <li>Abbr: @sourRecord.abbr</li>
      <li>Publ: @sourRecord.publ</li>
      <li>Agnc: @sourRecord.agnc</li>
      <li>Rin: @sourRecord.rin</li>
      <li>Repo: @sourRecord.repoId</li>
      <li>Repo caln: @sourRecord.repoCaln</li>
      <li>Repo medi: @sourRecord.repoMedi</li>
    </ul>

    @govukSummaryList(
      SummaryList(
        rows = citations.map { citation =>
          SummaryListRow(
            key = Key(Text(citation.id.toString)),
            value = Value(HtmlContent(citationContent(citation))),
            classes = "",
            actions = Some(Actions(
              items = Seq(
                ActionItem(
                href = "#",
                content = Text(messages("Delete"))
                ),
                ActionItem(
                  href = controllers.routes.SourCitationController.showSourCitation(dbId, citation.id).url,
                  content = Text(messages("View"))
                ),
                ActionItem(
                  href = controllers.edit.routes.EditSourCitationController.showForm(dbId, citation.id).url,
                  content = Text(messages("Edit"))
                ))
            ))
          )
        },
        card = Some(Card(
          title = Some(CardTitle(content = Text("List of Source citations"))),
          actions = Some(
            Actions(
              items = Seq(
                ActionItem(
                  href = "#",
                  content = Text(messages("Add"))
                )
              )
            )),
          classes = "govuk-!-margin-4",
          attributes = Map.empty
        )),
        classes = "",
        attributes = Map.empty
      )
    )
  }
}