@import views.html.components.{Block, SubNavigation}
@import models.Person

@this(
        main: Main,
        block: Block,
        subNavigation: SubNavigation
)

@(database: Option[GenealogyDatabase], person: Person, depth: Int)(implicit request: AuthenticatedRequest[?], messages: Messages)

@dbId = @{ database.fold(0)(_.id) }

@breadcrumbs = @{
  Breadcrumbs(
    items = Seq(
      BreadcrumbsItem(
        content = Text(s"Surname ${person.details.surname}"),
        href = Some(controllers.routes.HomeController.showFirstnames(database.fold(0)(_.id), person.details.surname).url)
      )
    )
  )
}

@main(database, breadcrumbs = Some(breadcrumbs), caption = Some(person.name)) {

@subNavigation("Tree", dbId, person.details.id)
@block("Tree view", Some(Actions(
  items = Seq(
    ActionItem(
      href = controllers.routes.TreeController.showPdf(dbId, person.details.id, depth).url,
      content = Text(messages("tree.download.pdf"))
    )
  )
))) {
      <object type="image/svg+xml" id="tree" name="tree" Alt="Tree" data="@controllers.routes.TreeController.showSvg(dbId, person.details.id, depth).url" width="100%" >
        <img src="@controllers.routes.TreeController.showSvg(dbId, person.details.id, depth).url" alt="Tree" width="100%">
      </object>
  }
}